[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deseats"]
	path = deseats
	url = https://github.com/cran/deseats
[submodule "esemifar"]
	path = esemifar
	url = https://github.com/cran/esemifar
[submodule "fEGarch"]
	path = fEGarch
	url = https://github.com/cran/fEGarch
[submodule "smoots"]
	path = smoots
	url = https://github.com/cran/smoots
